@model IEnumerable<LuckySpin.Models.Spin>
 
      @{ViewData["Title"] = "LuckList";
          Layout = "_Layout";}
 
 
 <table>
    <thead>
        <tr>
            <th>Luck</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        @foreach(LuckySpin.Models.Spin spin in Model)
        {
            <tr>
                <td>@spin.Luck</td>
                <td>@spin.IsWinner</td>
            </tr>
        }
    </tbody>
</table>

 