@model IEnumerable<LuckySpin.Models.RepoService>
@{
    ViewData["Title"] = "LuckList";
    Layout = "_Layout";
}




<h2>All Your Luck</h2>
<table>
    <thead>
        <tr>
            <th>Luck</th>
            <th>Result</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(LuckySpin.Models.Spin spin in Model)
        {
            <td>spin.</td>
        }
    </tbody>
</table>